SERVER_ENV="development"
PROTOCOL_AND_HOST="http://localhost:3000"

TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQS..."
TURSO_DATABASE_URL="libsql://turso-DBNAME-USERNAME.turso.io"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
